In [1]:
import pandas as pd
data = pd.read_csv("폐교학교활용.csv")

In [2]:
age_df = pd.read_csv("./data/등록인구(연령별_동별)_20250913120213.csv")
age_df

,동별(1),항목,2025 1/4,2025 1/4.1,2025 1/4.2,2025 1/4.3,2025 1/4.4,2025 1/4.5,2025 1/4.6,2025 1/4.7,...,2025 2/4.12,2025 2/4.13,2025 2/4.14,2025 2/4.15,2025 2/4.16,2025 2/4.17,2025 2/4.18,2025 2/4.19,2025 2/4.20,2025 2/4.21
0,동별(1),항목,합계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
1,합계,계,9602826,205595,280911,356556,379742,570525,819346,825292,...,736667,695579,645900,462634,345163,240898,124834,42616,10051,1542
2,합계,한국인,9335734,201873,275078,351729,371868,523527,774157,798609,...,716593,681078,638318,459370,344009,240439,124534,42476,9989,1497
3,합계,등록외국인,267092,3722,5833,4827,7874,46998,45189,26683,...,20074,14501,7582,3264,1154,459,300,140,62,45
4,종로구,계,149478,2360,3392,4621,5460,11712,14921,12330,...,12049,11455,9922,6902,5441,4404,2551,927,227,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,송파구,한국인,647895,16551,24081,28967,27494,31048,48786,56290,...,47492,45483,42833,30753,20940,12580,6181,2434,598,94
75,송파구,등록외국인,6232,115,151,100,109,387,652,820,...,537,395,201,84,25,18,6,2,1,-
76,강동구,계,500002,14078,18973,22255,20738,23094,35009,40321,...,36855,37197,35651,25377,17009,10210,4748,1827,512,69
77,강동구,한국인,495271,13974,18863,22141,20642,22769,34423,39664,...,36464,36924,35499,25318,16984,10203,4747,1826,511,68
78,강동구,등록외국인,4731,104,110,114,96,325,586,657,...,391,273,152,59,25,7,1,1,1,1

In [6]:
gu = age_df['동별(1)'].unique()[2:]

In [5]:
age_df['항목'] == '계'

0     False
1      True
2     False
3     False
4      True
      ...
74    False
75    False
76     True
77    False
78    False
Name: 항목, Length: 79, dtype: bool

In [12]:
for g in gu:
    filtered = age_df[(age_df['동별(1)'] == g) & (age_df['항목'] == '계')]
    pd.DataFrame(filtered)

In [13]:
result = []

for g in gu:
    filtered = age_df[(age_df['동별(1)'] == g) & (age_df['항목'] == '계')]
    result.append(filtered)

final_df = pd.concat(result, ignore_index=True)
print(final_df)

   동별(1) 항목 2025 1/4 2025 1/4.1 2025 1/4.2 2025 1/4.3 2025 1/4.4 2025 1/4.5  \
0    종로구  계   149478       2360       3392       4621       5460      11712
1     중구  계   130418       2681       2962       3024       3532       7926
2    용산구  계   216537       5110       6093       6836       7242      11192
3    성동구  계   281062       7621       8265       8317       9541      17748
4    광진구  계   348660       6019       8366      11106      12800      25994
5   동대문구  계   361950       7892       9775      10873      12810      32632
6    중랑구  계   384320       7969       9680      11353      12236      18777
7    성북구  계   433569       9181      13018      16107      18882      35255
8    강북구  계   288797       4150       6250       8570      10122      17489
9    도봉구  계   305391       5168       7572      10221      11370      15717
10   노원구  계   495111       9942      14109      20778      25064      33136
11   은평구  계   464466       9255      12413      16185      18183      24110
12  서대문구  계   318085       7002       9174      10684      12050      25969
13   마포구  계   371852       8270      11013      12653      13891      24640
14   양천구  계   432901       8390      15280      23387      23292      21986
15   강서구  계   560094      12350      16060      20158      20600      27503
16   구로구  계   410727       9820      11953      13951      14385      19067
17   금천구  계   238431       4269       5221       6097       6723      10920
18  영등포구  계   396834      10069      11304      11648      11744      18797
19   동작구  계   386897       8093      10265      12202      13836      27768
20   관악구  계   497213       6661       8384      10877      14240      37685
21   서초구  계   412715      10206      16409      22917      22257      21620
22   강남구  계   563189      12373      20748      32669      31141      28353
23   송파구  계   654127      16666      24232      29067      27603      31435
24   강동구  계   500002      14078      18973      22255      20738      23094

   2025 1/4.6 2025 1/4.7  ... 2025 2/4.12 2025 2/4.13 2025 2/4.14 2025 2/4.15  \
0       14921      12330  ...       12049       11455        9922        6902
1       12263      12982  ...        9905        9738        9002        6453
2       18154      21997  ...       16694       15548       13600        9203
3       24415      25591  ...       21870       20571       18174       12378
4       38950      33901  ...       26762       24674       22239       14966
5       36424      29811  ...       26270       25109       23837       17161
6       29944      33243  ...       33106       33665       30854       21335
7       35623      30641  ...       34277       30626       28441       20248
8       21409      19873  ...       24912       24562       23453       17511
9       20392      20761  ...       27187       26905       26366       18487
10      32968      32579  ...       40902       37498       35298       25204
11      35473      37628  ...       37906       35855       33594       24171
12      30099      25802  ...       23807       22171       20103       14062
13      37065      37200  ...       26430       23004       20242       14004
14      27479      27987  ...       34896       32859       30210       21600
15      47909      54685  ...       39537       40518       39506       28346
16      30468      34138  ...       33578       32400       30123       21940
17      23283      24131  ...       20917       21017       18047       12243
18      38323      43114  ...       30412       28286       25044       17518
19      39433      35723  ...       28367       26518       24809       18019
20      73416      60126  ...       33135       31987       29904       22564
21      27733      29860  ...       29906       24801       23358       17668
22      38755      43758  ...       38958       32737       31089       24437
23      49438      57110  ...       48029       45878       43034       30837
24      35009      40321  ...       36855       37197       35651       25377

   2025 2/4.16 2025 2/4.17 2025 2/4.18 2025 2/4.19 2025 2/4.20 2025 2/4.21
0         5441        4404        2551         927         227          39
1         4930        3778        2110         779         202          23
2         6942        5398        3372        1220         292          56
3         9466        7067        3790        1229         268          40
4        10864        7787        4030        1368         321          50
5        13137        9882        5051        1621         350          56
6        15437       10835        5387        1780         397          61
7        16056       12177        6409        2099         491          75
8        14054       10756        5267        1520         365          49
9        13624       10219        5479        1770         422          63
10       18240       13360        7335        2644         613          98
11       18827       13792        7285        2298         508          71
12       11329        8844        5116        1619         378          70
13       11135        8908        4809        1715         371          54
14       14697        9237        4747        1712         401          71
15       20052       12625        6661        2459         623          88
16       16278       10673        5231        1675         392          54
17        8963        6095        2993         973         178          30
18       13209        9287        5125        1732         354          63
19       14403       10160        5309        1741         430          65
20       17882       12762        5936        1791         385          48
21       13758        8737        4404        1620         402          67
22       18465       11307        5502        2061         570          88
23       20965       12598        6187        2436         599          94
24       17009       10210        4748        1827         512          69

[25 rows x 46 columns]

In [17]:
final_df = final_df[['동별(1)','2025 1/4']]

In [18]:
final_df.columns = ['자치구','인구수']

In [19]:
final_df

     자치구     인구수
0    종로구  149478
1     중구  130418
2    용산구  216537
3    성동구  281062
4    광진구  348660
5   동대문구  361950
6    중랑구  384320
7    성북구  433569
8    강북구  288797
9    도봉구  305391
10   노원구  495111
11   은평구  464466
12  서대문구  318085
13   마포구  371852
14   양천구  432901
15   강서구  560094
16   구로구  410727
17   금천구  238431
18  영등포구  396834
19   동작구  386897
20   관악구  497213
21   서초구  412715
22   강남구  563189
23   송파구  654127
24   강동구  500002

In [21]:
merge_data = data.merge(final_df, on = '자치구',how= 'inner')

In [22]:
merge_data

,정보공시 학교코드,폐교명,위도,경도,자치구,최다연령대,지하철개수,평생교육원기관수,아동센터시설수,노인복지관,건강증진센터수,체육시설수,인구수
0,S010000948,서울천일초등학교,37.544361,127.133439,강동구,40~49세,4,5,25,3,1,44,500002
1,S010001208,서울금천초등학교,37.454978,126.912769,금천구,30~39세,0,4,25,4,1,23,238431
2,S010001218,서울도신초등학교,37.499269,126.900713,영등포구,30~39세,3,1,18,3,1,41,396834
3,S010001405,서울면북초등학교,37.594418,127.103549,중랑구,60~69세,0,1,23,5,1,26,384320
4,S010001429,서울중흥초등학교,37.601674,127.084144,중랑구,60~69세,2,1,23,5,1,26,384320
5,S010001591,서울본동초등학교,37.509926,126.953853,동작구,20~29세,1,4,21,3,1,30,386897
6,S010001605,서울원당초등학교,37.481279,126.956250,관악구,20~29세,2,2,25,1,1,27,497213
7,S010001759,서울신계초등학교,37.630500,127.052900,노원구,50~59세,0,6,22,3,7,49,495111
8,S010001780,서울중현초등학교,37.632410,127.066432,노원구,50~59세,2,6,22,3,7,49,495111
9,S010002183,서울양남초등학교,37.533600,127.089500,광진구,20~29세,2,2,13,1,1,45,348660
10,S010002192,서울중광초등학교,37.565242,127.082695,광진구,20~29세,3,2,13,1,1,45,348660
11,S010002313,서울오현초등학교,37.623597,127.046649,강북구,50~59세,0,2,20,1,1,18,288797
12,S010001252,서울우신초등학교,37.509263,126.911783,영등포구,30~39세,1,1,18,3,1,41,396834
13,S010001414,서울신묵초등학교,37.606523,127.075837,중랑구,60~69세,2,1,23,5,1,26,384320
14,S010001599,서울신봉초등학교,37.485576,126.949391,관악구,20~29세,2,2,25,1,1,27,497213
15,S010001974,서울대신초등학교,37.557702,126.948038,서대문구,20~29세,3,3,7,4,1,22,318085
16,S010001017,서울등명초등학교,37.560880,126.842329,강서구,30~39세,0,4,17,5,1,49,560094
17,S010001054,서울은정초등학교,37.511129,126.867046,양천구,50~59세,1,2,21,4,1,40,432901
18,S010001055,서울정곡초등학교,37.576960,126.818934,강서구,30~39세,1,4,17,5,1,49,560094
19,S010001401,서울망우초등학교,37.598340,127.103580,중랑구,60~69세,0,1,23,5,1,26,384320
20,S010002004,서울연천초등학교,37.621350,126.929920,은평구,50~59세,3,2,28,7,1,30,464466
21,S010002297,서울미양초등학교,37.621221,127.013704,강북구,50~59세,0,2,20,1,1,18,288797
22,S010005503,서울개롱초등학교,37.497355,127.139891,송파구,30~39세,2,1,18,3,2,56,654127
23,S010000952,서울풍납초등학교,37.535086,127.117867,송파구,30~39세,3,1,18,3,2,56,654127
24,S010001402,서울면남초등학교,37.577035,127.088157,중랑구,60~69세,2,1,23,5,1,26,384320
25,S010001980,서울미동초등학교,37.563267,126.965794,서대문구,20~29세,5,3,7,4,1,22,318085
26,S010002315,서울월곡초등학교,37.610023,127.046082,성북구,50~59세,3,4,23,6,1,29,433569
27,S010002323,서울정수초등학교,37.603776,127.007719,성북구,50~59세,0,4,23,6,1,29,433569
28,S010005280,서울장수초등학교,37.513002,126.845151,양천구,50~59세,0,2,21,4,1,40,432901
29,S010005527,서울강명초등학교,37.554767,127.173284,강동구,40~49세,2,5,25,3,1,44,500002
30,S010001020,서울등원초등학교,37.560326,126.850073,강서구,30~39세,0,4,17,5,1,49,560094
31,S010001239,서울영남초등학교,37.475435,126.909864,금천구,30~39세,0,4,25,4,1,23,238431
32,S010001415,서울신현초등학교,37.605674,127.093659,중랑구,60~69세,0,1,23,5,1,26,384320
33,S010001975,서울대은초등학교,37.612125,126.925910,은평구,50~59세,7,2,28,7,1,30,464466

In [23]:
merge_data.columns

Index(['정보공시 학교코드', '폐교명', '위도', '경도', '자치구', '최다연령대', '지하철개수', '평생교육원기관수',
       '아동센터시설수', '노인복지관', '건강증진센터수', '체육시설수', '인구수'],
      dtype='object')

In [26]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   정보공시 학교코드  34 non-null     object
 1   폐교명        34 non-null     object
 2   위도         34 non-null     float64
 3   경도         34 non-null     float64
 4   자치구        34 non-null     object
 5   최다연령대      34 non-null     object
 6   지하철개수      34 non-null     int64
 7   평생교육원기관수   34 non-null     int64
 8   아동센터시설수    34 non-null     int64
 9   노인복지관      34 non-null     int64
 10  건강증진센터수    34 non-null     int64
 11  체육시설수      34 non-null     int64
 12  인구수        34 non-null     object
dtypes: float64(2), int64(6), object(5)
memory usage: 3.6+ KB

In [31]:
merge_data['인구수'] = merge_data['인구수'].astype(int)
# 계산할 대상 컬럼들
facility_cols = ['지하철개수', '평생교육원기관수', '아동센터시설수', 
                 '노인복지관', '건강증진센터수', '체육시설수']

# 각 시설 컬럼별로 인구수 대비 비율 컬럼 생성
for col in facility_cols:
    merge_data[f'{col}_비율'] = merge_data[col] / merge_data['인구수'] * 100000

# 결과 확인
print(merge_data[['자치구', '인구수'] + [f'{col}_비율' for col in facility_cols]].head())

    자치구     인구수  지하철개수_비율  평생교육원기관수_비율  아동센터시설수_비율  노인복지관_비율  건강증진센터수_비율  \
0   강동구  500002  0.799997     0.999996    4.999980  0.599998    0.199999
1   금천구  238431  0.000000     1.677634   10.485214  1.677634    0.419409
2  영등포구  396834  0.755984     0.251995    4.535902  0.755984    0.251995
3   중랑구  384320  0.000000     0.260200    5.984596  1.300999    0.260200
4   중랑구  384320  0.520400     0.260200    5.984596  1.300999    0.260200

    체육시설수_비율
0   8.799965
1   9.646397
2  10.331776
3   6.765196
4   6.765196

In [32]:
merge_data

,정보공시 학교코드,폐교명,위도,경도,자치구,최다연령대,지하철개수,평생교육원기관수,아동센터시설수,노인복지관,건강증진센터수,체육시설수,인구수,지하철개수_비율,평생교육원기관수_비율,아동센터시설수_비율,노인복지관_비율,건강증진센터수_비율,체육시설수_비율
0,S010000948,서울천일초등학교,37.544361,127.133439,강동구,40~49세,4,5,25,3,1,44,500002,0.799997,0.999996,4.999980,0.599998,0.199999,8.799965
1,S010001208,서울금천초등학교,37.454978,126.912769,금천구,30~39세,0,4,25,4,1,23,238431,0.000000,1.677634,10.485214,1.677634,0.419409,9.646397
2,S010001218,서울도신초등학교,37.499269,126.900713,영등포구,30~39세,3,1,18,3,1,41,396834,0.755984,0.251995,4.535902,0.755984,0.251995,10.331776
3,S010001405,서울면북초등학교,37.594418,127.103549,중랑구,60~69세,0,1,23,5,1,26,384320,0.000000,0.260200,5.984596,1.300999,0.260200,6.765196
4,S010001429,서울중흥초등학교,37.601674,127.084144,중랑구,60~69세,2,1,23,5,1,26,384320,0.520400,0.260200,5.984596,1.300999,0.260200,6.765196
5,S010001591,서울본동초등학교,37.509926,126.953853,동작구,20~29세,1,4,21,3,1,30,386897,0.258467,1.033867,5.427801,0.775400,0.258467,7.754002
6,S010001605,서울원당초등학교,37.481279,126.956250,관악구,20~29세,2,2,25,1,1,27,497213,0.402242,0.402242,5.028026,0.201121,0.201121,5.430268
7,S010001759,서울신계초등학교,37.630500,127.052900,노원구,50~59세,0,6,22,3,7,49,495111,0.000000,1.211849,4.443448,0.605925,1.413824,9.896771
8,S010001780,서울중현초등학교,37.632410,127.066432,노원구,50~59세,2,6,22,3,7,49,495111,0.403950,1.211849,4.443448,0.605925,1.413824,9.896771
9,S010002183,서울양남초등학교,37.533600,127.089500,광진구,20~29세,2,2,13,1,1,45,348660,0.573625,0.573625,3.728561,0.286812,0.286812,12.906557
10,S010002192,서울중광초등학교,37.565242,127.082695,광진구,20~29세,3,2,13,1,1,45,348660,0.860437,0.573625,3.728561,0.286812,0.286812,12.906557
11,S010002313,서울오현초등학교,37.623597,127.046649,강북구,50~59세,0,2,20,1,1,18,288797,0.000000,0.692528,6.925280,0.346264,0.346264,6.232752
12,S010001252,서울우신초등학교,37.509263,126.911783,영등포구,30~39세,1,1,18,3,1,41,396834,0.251995,0.251995,4.535902,0.755984,0.251995,10.331776
13,S010001414,서울신묵초등학교,37.606523,127.075837,중랑구,60~69세,2,1,23,5,1,26,384320,0.520400,0.260200,5.984596,1.300999,0.260200,6.765196
14,S010001599,서울신봉초등학교,37.485576,126.949391,관악구,20~29세,2,2,25,1,1,27,497213,0.402242,0.402242,5.028026,0.201121,0.201121,5.430268
15,S010001974,서울대신초등학교,37.557702,126.948038,서대문구,20~29세,3,3,7,4,1,22,318085,0.943144,0.943144,2.200670,1.257526,0.314381,6.916390
16,S010001017,서울등명초등학교,37.560880,126.842329,강서구,30~39세,0,4,17,5,1,49,560094,0.000000,0.714166,3.035205,0.892707,0.178541,8.748531
17,S010001054,서울은정초등학교,37.511129,126.867046,양천구,50~59세,1,2,21,4,1,40,432901,0.231000,0.461999,4.850994,0.923999,0.231000,9.239988
18,S010001055,서울정곡초등학교,37.576960,126.818934,강서구,30~39세,1,4,17,5,1,49,560094,0.178541,0.714166,3.035205,0.892707,0.178541,8.748531
19,S010001401,서울망우초등학교,37.598340,127.103580,중랑구,60~69세,0,1,23,5,1,26,384320,0.000000,0.260200,5.984596,1.300999,0.260200,6.765196
20,S010002004,서울연천초등학교,37.621350,126.929920,은평구,50~59세,3,2,28,7,1,30,464466,0.645903,0.430602,6.028428,1.507107,0.215301,6.459030
21,S010002297,서울미양초등학교,37.621221,127.013704,강북구,50~59세,0,2,20,1,1,18,288797,0.000000,0.692528,6.925280,0.346264,0.346264,6.232752
22,S010005503,서울개롱초등학교,37.497355,127.139891,송파구,30~39세,2,1,18,3,2,56,654127,0.305751,0.152876,2.751759,0.458627,0.305751,8.561029
23,S010000952,서울풍납초등학교,37.535086,127.117867,송파구,30~39세,3,1,18,3,2,56,654127,0.458627,0.152876,2.751759,0.458627,0.305751,8.561029
24,S010001402,서울면남초등학교,37.577035,127.088157,중랑구,60~69세,2,1,23,5,1,26,384320,0.520400,0.260200,5.984596,1.300999,0.260200,6.765196
25,S010001980,서울미동초등학교,37.563267,126.965794,서대문구,20~29세,5,3,7,4,1,22,318085,1.571907,0.943144,2.200670,1.257526,0.314381,6.916390
26,S010002315,서울월곡초등학교,37.610023,127.046082,성북구,50~59세,3,4,23,6,1,29,433569,0.691931,0.922575,5.304807,1.383863,0.230644,6.688670
27,S010002323,서울정수초등학교,37.603776,127.007719,성북구,50~59세,0,4,23,6,1,29,433569,0.000000,0.922575,5.304807,1.383863,0.230644,6.688670
28,S010005280,서울장수초등학교,37.513002,126.845151,양천구,50~59세,0,2,21,4,1,40,432901,0.000000,0.461999,4.850994,0.923999,0.231000,9.239988
29,S010005527,서울강명초등학교,37.554767,127.173284,강동구,40~49세,2,5,25,3,1,44,500002,0.399998,0.999996,4.999980,0.599998,0.199999,8.799965
30,S010001020,서울등원초등학교,37.560326,126.850073,강서구,30~39세,0,4,17,5,1,49,560094,0.000000,0.714166,3.035205,0.892707,0.178541,8.748531
31,S010001239,서울영남초등학교,37.475435,126.909864,금천구,30~39세,0,4,25,4,1,23,238431,0.000000,1.677634,10.485214,1.677634,0.419409,9.646397
32,S010001415,서울신현초등학교,37.605674,127.093659,중랑구,60~69세,0,1,23,5,1,26,384320,0.000000,0.260200,5.984596,1.300999,0.260200,6.765196
33,S010001975,서울대은초등학교,37.612125,126.925910,은평구,50~59세,7,2,28,7,1,30,464466,1.507107,0.430602,6.028428,1.507107,0.215301,6.459030

In [34]:
merge_data.columns

Index(['정보공시 학교코드', '폐교명', '위도', '경도', '자치구', '최다연령대', '지하철개수', '평생교육원기관수',
       '아동센터시설수', '노인복지관', '건강증진센터수', '체육시설수', '인구수', '지하철개수_비율',
       '평생교육원기관수_비율', '아동센터시설수_비율', '노인복지관_비율', '건강증진센터수_비율', '체육시설수_비율'],
      dtype='object')

In [36]:
merge_data['지하철개수_비율'].mean()

np.float64(0.3883542988446069)

In [41]:
merge_data.columns = merge_data.columns.str.strip()      # 앞뒤 공백 제거
merge_data.columns = merge_data.columns.str.replace("\n", "", regex=True)  # 줄바꿈 제거

In [43]:
# 비율 컬럼들
ratio_cols = [
    '지하철개수_비율',
    '평생교육원기관수_비율',
    '아동센터시설수_비율',
    '노인복지관_비율',
    '건강증진센터수_비율',
    '체육시설수_비율'
]

# 각 비율 컬럼별 평균값 계산
mean_values = merge_data[ratio_cols].mean()

# 비교해서 '작다', '크다', '중간' 라벨링
for col in ratio_cols:
    mean_val = mean_values[col]
    merge_data[f'{col}_판정'] = merge_data[col].apply(
        lambda x: '작다' if x < mean_val else ('크다' if x > mean_val else '중간')
    )

# 결과 확인
print(merge_data[['자치구'] + ratio_cols + [f'{col}_판정' for col in ratio_cols]].head())

    자치구  지하철개수_비율  평생교육원기관수_비율  아동센터시설수_비율  노인복지관_비율  건강증진센터수_비율   체육시설수_비율  \
0   강동구  0.799997     0.999996    4.999980  0.599998    0.199999   8.799965
1   금천구  0.000000     1.677634   10.485214  1.677634    0.419409   9.646397
2  영등포구  0.755984     0.251995    4.535902  0.755984    0.251995  10.331776
3   중랑구  0.000000     0.260200    5.984596  1.300999    0.260200   6.765196
4   중랑구  0.520400     0.260200    5.984596  1.300999    0.260200   6.765196

  지하철개수_비율_판정 평생교육원기관수_비율_판정 아동센터시설수_비율_판정 노인복지관_비율_판정 건강증진센터수_비율_판정  \
0          크다             크다            작다          작다            작다
1          작다             크다            크다          크다            크다
2          크다             작다            작다          작다            작다
3          작다             작다            크다          크다            작다
4          크다             작다            크다          크다            작다

  체육시설수_비율_판정
0          크다
1          크다
2          크다
3          작다
4          작다

In [45]:
merge_data.columns

Index(['정보공시 학교코드', '폐교명', '위도', '경도', '자치구', '최다연령대', '지하철개수', '평생교육원기관수',
       '아동센터시설수', '노인복지관', '건강증진센터수', '체육시설수', '인구수', '지하철개수_비율',
       '평생교육원기관수_비율', '아동센터시설수_비율', '노인복지관_비율', '건강증진센터수_비율', '체육시설수_비율',
       '지하철개수_비율_판정', '평생교육원기관수_비율_판정', '아동센터시설수_비율_판정', '노인복지관_비율_판정',
       '건강증진센터수_비율_판정', '체육시설수_비율_판정'],
      dtype='object')

In [46]:
pan = merge_data[['폐교명','자치구', '최다연령대', '지하철개수_비율_판정', '평생교육원기관수_비율_판정', '아동센터시설수_비율_판정', '노인복지관_비율_판정',
       '건강증진센터수_비율_판정', '체육시설수_비율_판정']]
pan

,폐교명,자치구,최다연령대,지하철개수_비율_판정,평생교육원기관수_비율_판정,아동센터시설수_비율_판정,노인복지관_비율_판정,건강증진센터수_비율_판정,체육시설수_비율_판정
0,서울천일초등학교,강동구,40~49세,크다,크다,작다,작다,작다,크다
1,서울금천초등학교,금천구,30~39세,작다,크다,크다,크다,크다,크다
2,서울도신초등학교,영등포구,30~39세,크다,작다,작다,작다,작다,크다
3,서울면북초등학교,중랑구,60~69세,작다,작다,크다,크다,작다,작다
4,서울중흥초등학교,중랑구,60~69세,크다,작다,크다,크다,작다,작다
5,서울본동초등학교,동작구,20~29세,작다,크다,크다,작다,작다,작다
6,서울원당초등학교,관악구,20~29세,크다,작다,작다,작다,작다,작다
7,서울신계초등학교,노원구,50~59세,작다,크다,작다,작다,크다,크다
8,서울중현초등학교,노원구,50~59세,크다,크다,작다,작다,크다,크다
9,서울양남초등학교,광진구,20~29세,크다,작다,작다,작다,작다,크다
10,서울중광초등학교,광진구,20~29세,크다,작다,작다,작다,작다,크다
11,서울오현초등학교,강북구,50~59세,작다,크다,크다,작다,크다,작다
12,서울우신초등학교,영등포구,30~39세,작다,작다,작다,작다,작다,크다
13,서울신묵초등학교,중랑구,60~69세,크다,작다,크다,크다,작다,작다
14,서울신봉초등학교,관악구,20~29세,크다,작다,작다,작다,작다,작다
15,서울대신초등학교,서대문구,20~29세,크다,크다,작다,크다,작다,작다
16,서울등명초등학교,강서구,30~39세,작다,크다,작다,작다,작다,크다
17,서울은정초등학교,양천구,50~59세,작다,작다,작다,크다,작다,크다
18,서울정곡초등학교,강서구,30~39세,작다,크다,작다,작다,작다,크다
19,서울망우초등학교,중랑구,60~69세,작다,작다,크다,크다,작다,작다
20,서울연천초등학교,은평구,50~59세,크다,작다,크다,크다,작다,작다
21,서울미양초등학교,강북구,50~59세,작다,크다,크다,작다,크다,작다
22,서울개롱초등학교,송파구,30~39세,작다,작다,작다,작다,작다,크다
23,서울풍납초등학교,송파구,30~39세,크다,작다,작다,작다,작다,크다
24,서울면남초등학교,중랑구,60~69세,크다,작다,크다,크다,작다,작다
25,서울미동초등학교,서대문구,20~29세,크다,크다,작다,크다,작다,작다
26,서울월곡초등학교,성북구,50~59세,크다,크다,크다,크다,작다,작다
27,서울정수초등학교,성북구,50~59세,작다,크다,크다,크다,작다,작다
28,서울장수초등학교,양천구,50~59세,작다,작다,작다,크다,작다,크다
29,서울강명초등학교,강동구,40~49세,크다,크다,작다,작다,작다,크다
30,서울등원초등학교,강서구,30~39세,작다,크다,작다,작다,작다,크다
31,서울영남초등학교,금천구,30~39세,작다,크다,크다,크다,크다,크다
32,서울신현초등학교,중랑구,60~69세,작다,작다,크다,크다,작다,작다
33,서울대은초등학교,은평구,50~59세,크다,작다,크다,크다,작다,작다

In [65]:
# 연령대별 추천 시설 매핑
age_to_facility = {
    '20~29세': ['평생교육원기관'],
    '30~39세': ['아동센터시설'],
    '40~49세': ['건강증진센터', '체육시설'],
    '50~59세': ['건강증진센터', '체육시설'],
    '60~69세': ['노인복지관']
}

# 판정 컬럼과 시설 이름 매핑
facility_col_mapping = {
    '평생교육원기관수_비율_판정': '평생교육원기관',
    '아동센터시설수_비율_판정': '아동센터시설',
    '노인복지관_비율_판정': '노인복지관',
    '건강증진센터수_비율_판정': '건강증진센터',
    '체육시설수_비율_판정': '체육시설'
}

def 추천시설(row, df):
    age = row['최다연령대']
    recommended = []

    # 1️⃣ 최다연령대 맞춤 추천
    if age in age_to_facility:
        for target in age_to_facility[age]:
            for col, name in facility_col_mapping.items():
                if name == target and row[col] == '작다':
                    recommended.append(target)
    
    # 2️⃣ 추천 없으면 자치구 기반 추천
    if not recommended:
        gu = row['자치구']
        gu_df = df[df['자치구'] == gu]
        for col, name in facility_col_mapping.items():
            if row[col] == '작다' and name not in recommended:
                recommended.append(name)
    
    # 3️⃣ 그래도 추천 없으면 최다연령대 기준 시설 강제 추천
    if not recommended and age in age_to_facility:
        recommended = age_to_facility[age]
    
    return recommended if recommended else None

# 적용
pan['추천시설'] = pan.apply(lambda row: 추천시설(row, pan), axis=1)

# 확인
print(pan[['폐교명','최다연령대','추천시설']])

         폐교명   최다연령대                     추천시설
0   서울천일초등학교  40~49세                 [건강증진센터]
1   서울금천초등학교  30~39세                 [아동센터시설]
2   서울도신초등학교  30~39세                 [아동센터시설]
3   서울면북초등학교  60~69세  [평생교육원기관, 건강증진센터, 체육시설]
4   서울중흥초등학교  60~69세  [평생교육원기관, 건강증진센터, 체육시설]
5   서울본동초등학교  20~29세    [노인복지관, 건강증진센터, 체육시설]
6   서울원당초등학교  20~29세                [평생교육원기관]
7   서울신계초등학교  50~59세          [아동센터시설, 노인복지관]
8   서울중현초등학교  50~59세          [아동센터시설, 노인복지관]
9   서울양남초등학교  20~29세                [평생교육원기관]
10  서울중광초등학교  20~29세                [평생교육원기관]
11  서울오현초등학교  50~59세                   [체육시설]
12  서울우신초등학교  30~39세                 [아동센터시설]
13  서울신묵초등학교  60~69세  [평생교육원기관, 건강증진센터, 체육시설]
14  서울신봉초등학교  20~29세                [평생교육원기관]
15  서울대신초등학교  20~29세   [아동센터시설, 건강증진센터, 체육시설]
16  서울등명초등학교  30~39세                 [아동센터시설]
17  서울은정초등학교  50~59세                 [건강증진센터]
18  서울정곡초등학교  30~39세                 [아동센터시설]
19  서울망우초등학교  60~69세  [평생교육원기관, 건강증진센터, 체육시설]
20  서울연천초등학교  50~59세           [건강증진센터, 체육시설]
21  서울미양초등학교  50~59세                   [체육시설]
22  서울개롱초등학교  30~39세                 [아동센터시설]
23  서울풍납초등학교  30~39세                 [아동센터시설]
24  서울면남초등학교  60~69세  [평생교육원기관, 건강증진센터, 체육시설]
25  서울미동초등학교  20~29세   [아동센터시설, 건강증진센터, 체육시설]
26  서울월곡초등학교  50~59세           [건강증진센터, 체육시설]
27  서울정수초등학교  50~59세           [건강증진센터, 체육시설]
28  서울장수초등학교  50~59세                 [건강증진센터]
29  서울강명초등학교  40~49세                 [건강증진센터]
30  서울등원초등학교  30~39세                 [아동센터시설]
31  서울영남초등학교  30~39세                 [아동센터시설]
32  서울신현초등학교  60~69세  [평생교육원기관, 건강증진센터, 체육시설]
33  서울대은초등학교  50~59세           [건강증진센터, 체육시설]

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_8640\1282678963.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pan['추천시설'] = pan.apply(lambda row: 추천시설(row, pan), axis=1)

In [66]:
pan

,폐교명,자치구,최다연령대,지하철개수_비율_판정,평생교육원기관수_비율_판정,아동센터시설수_비율_판정,노인복지관_비율_판정,건강증진센터수_비율_판정,체육시설수_비율_판정,추천시설
0,서울천일초등학교,강동구,40~49세,크다,크다,작다,작다,작다,크다,[건강증진센터]
1,서울금천초등학교,금천구,30~39세,작다,크다,크다,크다,크다,크다,[아동센터시설]
2,서울도신초등학교,영등포구,30~39세,크다,작다,작다,작다,작다,크다,[아동센터시설]
3,서울면북초등학교,중랑구,60~69세,작다,작다,크다,크다,작다,작다,"[평생교육원기관, 건강증진센터, 체육시설]"
4,서울중흥초등학교,중랑구,60~69세,크다,작다,크다,크다,작다,작다,"[평생교육원기관, 건강증진센터, 체육시설]"
5,서울본동초등학교,동작구,20~29세,작다,크다,크다,작다,작다,작다,"[노인복지관, 건강증진센터, 체육시설]"
6,서울원당초등학교,관악구,20~29세,크다,작다,작다,작다,작다,작다,[평생교육원기관]
7,서울신계초등학교,노원구,50~59세,작다,크다,작다,작다,크다,크다,"[아동센터시설, 노인복지관]"
8,서울중현초등학교,노원구,50~59세,크다,크다,작다,작다,크다,크다,"[아동센터시설, 노인복지관]"
9,서울양남초등학교,광진구,20~29세,크다,작다,작다,작다,작다,크다,[평생교육원기관]
10,서울중광초등학교,광진구,20~29세,크다,작다,작다,작다,작다,크다,[평생교육원기관]
11,서울오현초등학교,강북구,50~59세,작다,크다,크다,작다,크다,작다,[체육시설]
12,서울우신초등학교,영등포구,30~39세,작다,작다,작다,작다,작다,크다,[아동센터시설]
13,서울신묵초등학교,중랑구,60~69세,크다,작다,크다,크다,작다,작다,"[평생교육원기관, 건강증진센터, 체육시설]"
14,서울신봉초등학교,관악구,20~29세,크다,작다,작다,작다,작다,작다,[평생교육원기관]
15,서울대신초등학교,서대문구,20~29세,크다,크다,작다,크다,작다,작다,"[아동센터시설, 건강증진센터, 체육시설]"
16,서울등명초등학교,강서구,30~39세,작다,크다,작다,작다,작다,크다,[아동센터시설]
17,서울은정초등학교,양천구,50~59세,작다,작다,작다,크다,작다,크다,[건강증진센터]
18,서울정곡초등학교,강서구,30~39세,작다,크다,작다,작다,작다,크다,[아동센터시설]
19,서울망우초등학교,중랑구,60~69세,작다,작다,크다,크다,작다,작다,"[평생교육원기관, 건강증진센터, 체육시설]"
20,서울연천초등학교,은평구,50~59세,크다,작다,크다,크다,작다,작다,"[건강증진센터, 체육시설]"
21,서울미양초등학교,강북구,50~59세,작다,크다,크다,작다,크다,작다,[체육시설]
22,서울개롱초등학교,송파구,30~39세,작다,작다,작다,작다,작다,크다,[아동센터시설]
23,서울풍납초등학교,송파구,30~39세,크다,작다,작다,작다,작다,크다,[아동센터시설]
24,서울면남초등학교,중랑구,60~69세,크다,작다,크다,크다,작다,작다,"[평생교육원기관, 건강증진센터, 체육시설]"
25,서울미동초등학교,서대문구,20~29세,크다,크다,작다,크다,작다,작다,"[아동센터시설, 건강증진센터, 체육시설]"
26,서울월곡초등학교,성북구,50~59세,크다,크다,크다,크다,작다,작다,"[건강증진센터, 체육시설]"
27,서울정수초등학교,성북구,50~59세,작다,크다,크다,크다,작다,작다,"[건강증진센터, 체육시설]"
28,서울장수초등학교,양천구,50~59세,작다,작다,작다,크다,작다,크다,[건강증진센터]
29,서울강명초등학교,강동구,40~49세,크다,크다,작다,작다,작다,크다,[건강증진센터]
30,서울등원초등학교,강서구,30~39세,작다,크다,작다,작다,작다,크다,[아동센터시설]
31,서울영남초등학교,금천구,30~39세,작다,크다,크다,크다,크다,크다,[아동센터시설]
32,서울신현초등학교,중랑구,60~69세,작다,작다,크다,크다,작다,작다,"[평생교육원기관, 건강증진센터, 체육시설]"
33,서울대은초등학교,은평구,50~59세,크다,작다,크다,크다,작다,작다,"[건강증진센터, 체육시설]"

In [67]:
pan.to_csv("시설추천.csv", index=False)