- 폐교 학교의 학생들이 주변의 학교로 갔을 떄 시뮬레이션.

- 폐교 가능성이 있는 학교 지만 주변의 학교가 없는 학교는 주변 인프라 탐색(데이터분석) + 특성화학교 추천 혹은 아이돌봄학교 추천

- 폐교 가능성이 없는 학교의 주변 인프라 탐색 및 교사 수 등 학생의 교육의 질을 높이기 위한 방안 모색

# 폐교 가능성 없는 학교 + 폐교 가능성 있는데 못하는 학교의 정원 데이터분석(교육의 질 기준으로)
1. 학교 데이터 전부 가지고 오기(2025년도 기준) - 폐교 학교
2. 교육부에서 정한 교원당 학생의 수를 기준으로 교원 필요 채용
3. 정원 정하기

# 학교 정원을 따져서 폐교 학교의 가까운 거리 순 학교 분배
1. 시뮬레이션 하기, 만약 폐교학교 학생들이 다른 학교에 배정되었을 경우 필요 교사의 수 채용 업

In [20]:
import pandas as pd
data = pd.read_csv("./data/2025년도_학년별·학급별 학생수(초)_서울특별시교육청.csv")

In [21]:
data.columns

Index(['시도교육청', '교육지원청', '지역', '정보공시 학교코드', '학교명', '학교급코드', '설립구분', '제외여부',
       '제외사유', '1학년 학급수', '1학년 학생수', '1학년 학급당 학생수', '2학년 학급수', '2학년 학생수',
       '2학년 학급당 학생수', '3학년 학급수', '3학년 학생수', '3학년 학급당 학생수', '4학년 학급수',
       '4학년 학생수', '4학년 학급당 학생수', '5학년 학급수', '5학년 학생수', '5학년 학급당 학생수',
       '6학년 학급수', '6학년 학생수', '6학년 학급당 학생수', '특수학급 학급수', '특수학급 학생수',
       '특수학급 학급당 학생수', '순회학급 학급수', '순회학급 학생수', '순회학급 학급당 학생수', '학급수(계)',
       '학생수(계)', '학급당 학생수(계)', '교사수', '수업교원 1인당 학생수'],
      dtype='object')

In [22]:
data_1 = data[['정보공시 학교코드', '학교명', '1학년 학급수', '1학년 학생수', '1학년 학급당 학생수', '2학년 학급수', '2학년 학생수',
       '2학년 학급당 학생수', '3학년 학급수', '3학년 학생수', '3학년 학급당 학생수', '4학년 학급수',
       '4학년 학생수', '4학년 학급당 학생수', '5학년 학급수', '5학년 학생수', '5학년 학급당 학생수',
       '6학년 학급수', '6학년 학생수', '6학년 학급당 학생수', '특수학급 학급수', '특수학급 학생수',
       '특수학급 학급당 학생수','학급수(계)',
       '학생수(계)', '학급당 학생수(계)', '교사수', '수업교원 1인당 학생수']]

In [23]:
len(data_1)

606

In [29]:
close_school = pd.read_csv("폐교학교240.csv")
len(close_school)

35

2022년 기준 OECD 국가의 자료를 보면, 초등학교 교사 1인당 학생 수는 평균 14명이었고, 중학교에서는 교사 1인당 학생 수가 13명으로 줄었습니다.

In [30]:
school_code_col = "정보공시 학교코드"

# data_1에서 close_school에 포함되지 않은 학교만 남김
filtered_data = data_1[~data_1[school_code_col].isin(close_school[school_code_col])]

# 결과 확인
len(filtered_data)

571

In [34]:
# 미래를 기준으로 학생배분 + 교사채용 
data_2 = pd.read_csv("폐교학교.csv")
data_2

,정보공시 학교코드,학교명,지역,위도,경도,입학생수,학생수,교사수,년도,수업교원 1인당 학생수,폐교가능성년도
0,S010000742,서울논현초등학교,서울특별시 강남구,37.508170,127.026032,26.610,179.210,16.645,2026,10.766597,2026
1,S010000757,서울방현초등학교,서울특별시 서초구,37.476372,126.990178,28.065,175.755,13.420,2026,13.096498,2026
2,S010000778,서울우암초등학교,서울특별시 서초구,37.472296,127.023722,32.750,181.945,17.530,2026,10.379064,2026
3,S010000910,서울남천초등학교,서울특별시 송파구,37.501176,127.150731,33.340,207.070,18.305,2026,11.312210,2026
4,S010000923,서울상일초등학교,서울특별시 강동구,37.547572,127.172662,33.240,164.670,16.240,2026,10.139778,2026
...,...,...,...,...,...,...,...,...,...,...,...
85,S010001762,서울신창초등학교,서울특별시 도봉구,37.636567,127.041855,32.740,207.515,16.650,2030,12.463363,2030
86,S010001770,서울용동초등학교,서울특별시 노원구,37.641085,127.069083,27.865,156.975,16.495,2030,9.516520,2030
87,S010001975,서울대은초등학교,서울특별시 은평구,37.612125,126.925910,33.355,215.765,19.675,2030,10.966455,2030
88,S010002168,서울광장초등학교,서울특별시 광진구,37.548505,127.101058,38.355,224.005,16.510,2030,13.567838,2030
89,S010002401,서울후암초등학교,서울특별시 용산구,37.551365,126.981726,35.980,190.725,16.495,2030,11.562595,2030

In [36]:
school_code_col = "정보공시 학교코드"

# data_1에서 close_school에 포함되지 않은 학교만 남김
close_school_1 = data_2[data_2[school_code_col].isin(close_school[school_code_col])]

# 결과 확인
close_school_1

,정보공시 학교코드,학교명,지역,위도,경도,입학생수,학생수,교사수,년도,수업교원 1인당 학생수,폐교가능성년도
7,S010001208,서울금천초등학교,서울특별시 금천구,37.454978,126.912769,22.405,119.550,14.660,2026,8.154843,2026
8,S010001218,서울도신초등학교,서울특별시 영등포구,37.499269,126.900713,32.125,187.825,18.535,2026,10.133531,2026
10,S010001405,서울면북초등학교,서울특별시 중랑구,37.594418,127.103549,17.520,101.125,11.580,2026,8.732729,2026
11,S010001429,서울중흥초등학교,서울특별시 중랑구,37.601674,127.084144,29.535,209.655,17.300,2026,12.118786,2026
13,S010001591,서울본동초등학교,서울특별시 동작구,37.509926,126.953853,23.475,136.240,13.165,2026,10.348652,2026
14,S010001605,서울원당초등학교,서울특별시 관악구,37.481279,126.956250,26.500,105.745,14.450,2026,7.317993,2026
15,S010001759,서울신계초등학교,서울특별시 노원구,37.630500,127.052900,26.775,152.370,16.655,2026,9.148604,2026
17,S010001780,서울중현초등학교,서울특별시 노원구,37.632410,127.066432,18.885,103.225,11.330,2026,9.110768,2026
18,S010001979,서울망원초등학교,서울특별시 마포구,37.560890,126.900762,26.680,162.010,15.175,2026,10.676112,2026
23,S010002183,서울양남초등학교,서울특별시 광진구,37.533600,127.089500,27.775,147.210,16.000,2026,9.200625,2026
24,S010002192,서울중광초등학교,서울특별시 광진구,37.565242,127.082695,32.325,207.515,16.550,2026,12.538671,2026
26,S010002313,서울오현초등학교,서울특별시 강북구,37.623597,127.046649,29.850,207.500,17.670,2026,11.743067,2026
31,S010000771,서울양전초등학교,서울특별시 강남구,37.490292,127.069378,32.585,210.045,18.025,2027,11.652982,2027
34,S010001252,서울우신초등학교,서울특별시 영등포구,37.509263,126.911783,38.075,204.860,18.170,2027,11.274629,2027
35,S010001414,서울신묵초등학교,서울특별시 중랑구,37.606523,127.075837,36.185,219.120,17.655,2027,12.411215,2027
36,S010001599,서울신봉초등학교,서울특별시 관악구,37.485576,126.949391,32.330,198.910,16.770,2027,11.861061,2027
38,S010001785,서울창원초등학교,서울특별시 도봉구,37.652516,127.040560,35.400,212.705,17.175,2027,12.384571,2027
39,S010001974,서울대신초등학교,서울특별시 서대문구,37.557702,126.948038,28.140,146.345,15.880,2027,9.215680,2027
42,S010002372,서울남산초등학교,서울특별시 중구,37.559945,126.986644,25.155,178.960,16.830,2027,10.633393,2027
47,S010001017,서울등명초등학교,서울특별시 강서구,37.560880,126.842329,22.190,101.370,10.830,2028,9.360111,2028
49,S010001055,서울정곡초등학교,서울특별시 강서구,37.576960,126.818934,20.340,96.705,10.945,2028,8.835541,2028
50,S010001401,서울망우초등학교,서울특별시 중랑구,37.598340,127.103580,39.730,235.255,17.855,2028,13.175861,2028
51,S010001760,서울신방학초등학교,서울특별시 도봉구,37.666683,127.028920,31.535,210.490,17.125,2028,12.291387,2028
52,S010001991,서울성원초등학교,서울특별시 마포구,37.566977,126.905087,37.985,197.385,17.935,2028,11.005576,2028
53,S010002004,서울연천초등학교,서울특별시 은평구,37.621350,126.929920,34.810,216.210,18.760,2028,11.525053,2028
59,S010005503,서울개롱초등학교,서울특별시 송파구,37.497355,127.139891,34.330,213.840,17.245,2028,12.400116,2028
62,S010000952,서울풍납초등학교,서울특별시 송파구,37.535086,127.117867,34.835,214.780,17.435,2029,12.318899,2029
68,S010001783,서울창동초등학교,서울특별시 도봉구,37.655361,127.044831,33.230,209.690,17.215,2029,12.180656,2029
69,S010001980,서울미동초등학교,서울특별시 서대문구,37.563267,126.965794,34.490,208.235,19.375,2029,10.747613,2029
70,S010002315,서울월곡초등학교,서울특별시 성북구,37.610023,127.046082,36.565,230.150,19.170,2029,12.005738,2029
71,S010002323,서울정수초등학교,서울특별시 성북구,37.603776,127.007719,36.960,223.475,18.365,2029,12.168527,2029
78,S010001020,서울등원초등학교,서울특별시 강서구,37.560326,126.850073,29.140,160.545,15.525,2030,10.341063,2030
80,S010001239,서울영남초등학교,서울특별시 금천구,37.475435,126.909864,23.455,141.175,16.800,2030,8.403274,2030
85,S010001762,서울신창초등학교,서울특별시 도봉구,37.636567,127.041855,32.740,207.515,16.650,2030,12.463363,2030
87,S010001975,서울대은초등학교,서울특별시 은평구,37.612125,126.925910,33.355,215.765,19.675,2030,10.966455,2030

In [37]:
future_2030 = pd.read_csv("future_2030.csv")
future_2030

,정보공시 학교코드,학교명,지역,위도,경도,입학생수,학생수,교사수,년도,수업교원 1인당 학생수
0,S000003511,서울교육대학교부설초등학교,서울특별시 서초구,37.490739,127.015424,95.815,611.035,31.325,2030,19.506305
1,S000003563,서울대학교사범대학부설초등학교,서울특별시 종로구,37.577791,127.002875,69.900,440.875,28.820,2030,15.297536
2,S010000737,서울개원초등학교,서울특별시 강남구,37.481618,127.058738,126.960,832.120,44.110,2030,18.864657
3,S010000738,서울개일초등학교,서울특별시 강남구,37.486214,127.057742,115.275,724.475,36.720,2030,19.729711
4,S010000739,서울개포초등학교,서울특별시 강남구,37.486805,127.069977,98.750,769.935,40.580,2030,18.973263
...,...,...,...,...,...,...,...,...,...,...
601,S010006432,서울항동초등학교,서울특별시 구로구,37.476731,126.823929,207.950,1235.840,63.515,2030,19.457451
602,S010006433,서울해누리초등학교,서울특별시 송파구,37.498364,127.101956,102.455,590.450,33.510,2030,17.620113
603,S010006476,서울양원숲초등학교,서울특별시 중랑구,37.608890,127.105540,121.300,783.155,43.530,2030,17.991156
604,S010006510,서울개현초등학교,서울특별시 강남구,37.481026,127.062043,129.450,791.795,36.385,2030,21.761578
605,S010006543,서울강빛초등학교,서울특별시 강동구,37.574172,127.170940,220.010,1244.505,59.715,2030,20.840744

In [38]:
school_code_col = "정보공시 학교코드"

# data_1에서 close_school에 포함되지 않은 학교만 남김
filtered_data = future_2030[~future_2030[school_code_col].isin(close_school_1[school_code_col])]

# 결과 확인
len(filtered_data)

571

In [39]:
filtered_data

,정보공시 학교코드,학교명,지역,위도,경도,입학생수,학생수,교사수,년도,수업교원 1인당 학생수
0,S000003511,서울교육대학교부설초등학교,서울특별시 서초구,37.490739,127.015424,95.815,611.035,31.325,2030,19.506305
1,S000003563,서울대학교사범대학부설초등학교,서울특별시 종로구,37.577791,127.002875,69.900,440.875,28.820,2030,15.297536
2,S010000737,서울개원초등학교,서울특별시 강남구,37.481618,127.058738,126.960,832.120,44.110,2030,18.864657
3,S010000738,서울개일초등학교,서울특별시 강남구,37.486214,127.057742,115.275,724.475,36.720,2030,19.729711
4,S010000739,서울개포초등학교,서울특별시 강남구,37.486805,127.069977,98.750,769.935,40.580,2030,18.973263
...,...,...,...,...,...,...,...,...,...,...
601,S010006432,서울항동초등학교,서울특별시 구로구,37.476731,126.823929,207.950,1235.840,63.515,2030,19.457451
602,S010006433,서울해누리초등학교,서울특별시 송파구,37.498364,127.101956,102.455,590.450,33.510,2030,17.620113
603,S010006476,서울양원숲초등학교,서울특별시 중랑구,37.608890,127.105540,121.300,783.155,43.530,2030,17.991156
604,S010006510,서울개현초등학교,서울특별시 강남구,37.481026,127.062043,129.450,791.795,36.385,2030,21.761578
605,S010006543,서울강빛초등학교,서울특별시 강동구,37.574172,127.170940,220.010,1244.505,59.715,2030,20.840744

In [40]:
future_2030.columns

Index(['정보공시 학교코드', '학교명', '지역', '위도', '경도', '입학생수', '학생수', '교사수', '년도',
       '수업교원 1인당 학생수'],
      dtype='object')

In [ ]:
import pandas as pd
import numpy as np

# Haversine 거리 계산 함수 (단위: m)
def haversine(lat1, lon1, lat2, lon2):
    R = 6371000  # 지구 반경 (m)
    phi1, phi2 = np.radians(lat1), np.radians(lat2)
    dphi = np.radians(lat2 - lat1)
    dlambda = np.radians(lon2 - lon1)

    a = np.sin(dphi/2.0)**2 + np.cos(phi1)*np.cos(phi2)*np.sin(dlambda/2.0)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    return R * c  # meters

results = []
no_nearby_schools = []  # 근처 학교가 없는 폐교학교 기록

for _, close_row in close_school_1.iterrows():
    close_name = close_row["학교명"]
    close_students = close_row["학생수"]
    close_teachers = close_row["교사수"]
    close_ratio = close_row["수업교원 1인당 학생수"]
    close_lat, close_lon = close_row["위도"], close_row["경도"]

    # 각 폐교학교와 비폐교학교 거리 계산
    filtered_data["distance"] = filtered_data.apply(
        lambda row: haversine(close_lat, close_lon, row["위도"], row["경도"]), axis=1
    )

    # 500m 이내 학교만 선택
    nearby_schools = filtered_data[filtered_data["distance"] <= 500]

    if nearby_schools.empty:
        no_nearby_schools.append(close_name)
        continue

    # 가장 가까운 학교 선택
    target_row = nearby_schools.loc[nearby_schools["distance"].idxmin()]

    target_name = target_row["학교명"]
    student_before = target_row["학생수"]
    teacher_before = target_row["교사수"]
    ratio_before = target_row["수업교원 1인당 학생수"]

    student_after = student_before + close_students
    teacher_after = teacher_before + close_teachers
    ratio_after = student_after / teacher_after if teacher_after > 0 else np.nan

    results.append({
        "폐교학교명": close_name,
        "옮긴학교명": target_name,
        "학생수_전": student_before,
        "학생수_후": student_after,
        "교사수_전": teacher_before,
        "교사수_후": teacher_after,
        "수업교원 1인당 학생수_전": ratio_before,
        "수업교원 1인당 학생수_후": ratio_after
    })

final_df = pd.DataFrame(results)

# 최종 결과 확인
print("📌 최종 분배 결과:")
print(final_df.head())

# 근처 학교가 없는 폐교학교 확인
if no_nearby_schools:
    print("\n⚠️ 500m 이내에 학교가 없는 폐교학교:")
    for school in no_nearby_schools:
        print("-", school)
else:
    print("\n✅ 모든 폐교학교에 대해 500m 이내 학교가 존재합니다.")

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(

📌 최종 분배 결과:
      폐교학교명     옮긴학교명    학생수_전    학생수_후   교사수_전   교사수_후  수업교원 1인당 학생수_전  \
0  서울금천초등학교  서울탑동초등학교  284.730  404.280  21.645  36.305       13.154539
1  서울도신초등학교  서울신영초등학교  308.895  496.720  21.535  40.070       14.343859
2  서울면북초등학교  서울면일초등학교  405.995  507.120  26.835  38.415       15.129309
3  서울중흥초등학교  서울묵동초등학교  349.030  558.685  23.100  40.400       15.109524
4  서울본동초등학교  서울강남초등학교  517.190  653.430  32.145  45.310       16.089283

   수업교원 1인당 학생수_후
0       11.135656
1       12.396306
2       13.201093
3       13.828837
4       14.421320

⚠️ 500m 이내에 학교가 없는 폐교학교:
- 서울창원초등학교
- 서울망우초등학교

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5668\311777557.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["distance"] = filtered_data.apply(

In [43]:
final_df

,폐교학교명,옮긴학교명,학생수_전,학생수_후,교사수_전,교사수_후,수업교원 1인당 학생수_전,수업교원 1인당 학생수_후
0,서울금천초등학교,서울탑동초등학교,284.730,404.280,21.645,36.305,13.154539,11.135656
1,서울도신초등학교,서울신영초등학교,308.895,496.720,21.535,40.070,14.343859,12.396306
2,서울면북초등학교,서울면일초등학교,405.995,507.120,26.835,38.415,15.129309,13.201093
3,서울중흥초등학교,서울묵동초등학교,349.030,558.685,23.100,40.400,15.109524,13.828837
4,서울본동초등학교,서울강남초등학교,517.190,653.430,32.145,45.310,16.089283,14.421320
5,서울원당초등학교,서울봉천초등학교,445.070,550.815,29.740,44.190,14.965367,12.464698
6,서울신계초등학교,서울월계초등학교,192.115,344.485,17.545,34.200,10.949843,10.072661
7,서울중현초등학교,서울용원초등학교,333.900,437.125,22.995,34.325,14.520548,12.734887
8,서울망원초등학교,서울동교초등학교,427.375,589.385,25.355,40.530,16.855650,14.541944
9,서울양남초등학교,성동초등학교,628.605,775.815,28.675,44.675,21.921709,17.365753
10,서울중광초등학교,서울중마초등학교,226.120,433.635,16.595,33.145,13.625791,13.082969
11,서울오현초등학교,서울장월초등학교,486.325,693.825,27.950,45.620,17.399821,15.208790
12,서울양전초등학교,서울개포초등학교,769.935,979.980,40.580,58.605,18.973263,16.721781
13,서울우신초등학교,서울도림초등학교,312.550,517.410,19.190,37.360,16.287129,13.849304
14,서울신묵초등학교,서울묵현초등학교,364.040,583.160,23.965,41.620,15.190486,14.011533
15,서울신봉초등학교,서울구암초등학교,850.990,1049.900,47.985,64.755,17.734500,16.213420
16,서울대신초등학교,서울북성초등학교,690.560,836.905,41.012,56.892,16.837999,14.710416
17,서울남산초등학교,리라초등학교,495.170,674.130,18.070,34.900,27.402878,19.316046
18,서울등명초등학교,서울등양초등학교,161.420,262.790,14.490,25.320,11.140097,10.378752
19,서울정곡초등학교,서울치현초등학교,310.000,406.705,24.065,35.010,12.881779,11.616824
20,서울신방학초등학교,서울방학초등학교,311.505,521.995,22.565,39.690,13.804786,13.151801
21,서울성원초등학교,서울신북초등학교,462.210,659.595,28.635,46.570,16.141435,14.163517
22,서울연천초등학교,서울수리초등학교,223.780,439.990,18.505,37.265,12.092948,11.807058
23,서울개롱초등학교,서울영풍초등학교,485.700,699.540,31.055,48.300,15.639994,14.483230
24,서울풍납초등학교,서울토성초등학교,440.475,655.255,29.775,47.210,14.793451,13.879581
25,서울창동초등학교,서울자운초등학교,423.380,633.070,26.100,43.315,16.221456,14.615491
26,서울미동초등학교,경기초등학교,542.065,750.300,24.840,44.215,21.822262,16.969354
27,서울월곡초등학교,서울장위초등학교,252.145,482.295,19.580,38.750,12.877681,12.446323
28,서울정수초등학교,서울숭덕초등학교,689.660,913.135,39.805,58.170,17.325964,15.697696
29,서울등원초등학교,서울등현초등학교,311.240,471.785,23.920,39.445,13.011706,11.960578
30,서울영남초등학교,서울미성초등학교,472.560,613.735,25.560,42.360,18.488263,14.488551
31,서울신창초등학교,서울신화초등학교,218.310,425.825,17.210,33.860,12.685067,12.576048
32,서울대은초등학교,서울불광초등학교,401.930,617.695,26.405,46.080,15.221738,13.404839